.crystalImage {
		width: 200px;
     	height: 200px;
     	margin:10px;
     	border: solid #e6e6e6;
      	
}

h1 {
	font-size: 60px;
	color: blue;
	margin: 10px 10px 10px 20px;
	font-family: 'Jacques Francois Shadow', cursive;
}

h3{
	margin: 10px 10px 10px 20px;

}

.scorestyle{
	font-family: 'Days One', sans-serif;
	margin: 20px 10px 10px 20px;
}

#guessnumber {
	color: blue;
	margin: 30px 0px 30px 20px;

}

#numberToGuess{
	text-align: center;
	font-family: 'Days One', sans-serif;
	font-size: 35px;
	color: blue;
	margin: 10px 10px 10px 100px;
}

#totalscore{
	text-align: center;
	font-family: 'Days One', sans-serif;
	font-size: 35px;
	color: blue;
	margin: 10px 10px 10px 100px;
}

body {
	background: url('../images/hexellence.png') fixed;
}

p{
	width: 30%;
	margin: 20px;
}